<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IReadData" />
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="BasicHttpBinding_IReadService" />
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IReadData" contract="ReadingServiceReference.IReadData"
        name="BasicHttpBinding_IReadData" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="APIKey" value="35e63cb9-d1b8-49cd-b5c1-39212d33377f"/>    
  </appSettings>
</configuration>